body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

@font-face {
    font-family: 'Didact Gothic';
    src: url('../media/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.flex-container {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    background-color: #fff;
}

#navbar-left h2 {
    margin: 0;
}

#navbar-right {
    display: flex;
}

.navbar-element {
    margin-left: 20px;
    cursor: pointer;
}

/* segment1 */

#segment1 {
    display: flex;
    margin: 5% 0;
    margin-left: 7%;
}

#segment1-left {
    width: 33%;
    padding: 20px;
    margin-top: 10%;
}

#segment1-left button{
    position: center;
}

#segment1-right {
    width: 66%;
}

#segment1-right img {
    width: 100%;
    border-bottom-left-radius: 15px;
    position: right;
}

.cta-button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2639ED;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #2639ED;
}

/* segment2 */
#segment2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 7%;
}

.logo-bar-element {
    flex-basis: 18%; 
    text-align: center;
    margin: 0 5px;
}

.logo-bar-element h1 {
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.logo-bar-element p {
    margin: 0;
    font-size: 18px;
    color: gray;
    text-align: left;
}

.logo-bar-element img {
    margin-top: 90px;
    width: 150px;
    height: auto;
}


#segment3 {
    display: grid;
    padding: 20px 15%;
    background-color: #fff;
    grid-template-columns: 1fr 2fr;
}

#segment3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#segment3-right {
    display: flex;
    flex-direction: row;
    padding: 20px 15%;
    background-color: #fff;
}

.seg3-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

.seg3spacer {
    height: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: lightgray 1px solid;
    border-radius: 10%;
    width: 300px;
    height: 400px;
    margin-top: 5%;
    margin-bottom: 5%;
    * {
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }
}

.card-img {
    height: 120px;
    width: 120px;
}

