body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

@font-face {
    font-family: 'Didact Gothic';
    src: url('../media/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.flex-container {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    background-color: #fff;
}

#navbar-left h2 {
    margin: 0;
}

#navbar-right {
    display: flex;
}

.navbar-element {
    margin-left: 20px;
    cursor: pointer;
}




#segment1 {
    display: flex;
    margin: 5% 15%;
}

#segment1-left {
    width: 33%;
    padding: 20px;
    margin-top: 10%;
}

#segment1-left button{
    position: center;
}

#segment1-right {
    width: 66%;
}

#segment1-right img {
    width: 100%;
    border-bottom-left-radius: 15px;
}

.cta-button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2639ED;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #2639ED;
}